@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  html,
  body {
      max-width:100%;
      max-height: 100%;
      overflow-y: visible;
      overflow-x: visible;
  }
  