.nav-item {
    font-weight: bold;
    padding-right: 1rem;
    letter-spacing: 1px;
    color: #fff;
}

.nav-link:hover {
    color: goldenrod;
}

.nav-link:active {
    color: goldenrod;
}

.nav-link {
    margin-right: 5px;
}

@media screen and (max-width: 985px) {
    .vr {
        display: none;
    }
}
